* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: gray;
    }
}

#logo {
    width: 135px;
    height: 50px;
  }

.div a {
    text-decoration: none;
    color: black;
}

.selection {
    margin-top: 75px !important;
    height: auto;
    text-decoration: none;
    color: black;
    background-color: white;
    border-bottom: 1px solid lightgray;

    a {
        text-decoration: none;
        color: #727171;
        transition: 0.5s;

        &:hover {
            color: black;
        }
    }
}
