@font-face {
    font-family: 'boolbnbsearch';
    src: url('../font/boolbnbsearch.eot?44368561');
    src: url('../font/boolbnbsearch.eot?44368561#iefix') format('embedded-opentype'),
         url('../font/boolbnbsearch.woff2?44368561') format('woff2'),
         url('../font/boolbnbsearch.woff?44368561') format('woff'),
         url('../font/boolbnbsearch.ttf?44368561') format('truetype'),
         url('../font/boolbnbsearch.svg?44368561#boolbnbsearch') format('svg');
    font-weight: normal;
    font-style: normal;
  }
