ul li {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
}

.green {
    color: green;
    font-size: 1.1em;
    font-weight: 700;
}

.brown {
    // color: #FF385C;
    color: rgb(102, 17, 17);
    font-weight: 600;
}
.categoria {
    font-size: 1.5em;
    font-weight: 600;
    color: #ff595e;
    padding-left: 10px;
}
.testo-categoria {
    font-size: 1.3em;
    font-weight: 500;
}
.light {
    font-size: 1.6em;
    padding-right: 10px;
}

.first-line {
    font-size: 1.5em;
    width: 100%;
    transition: all 0.5s;
}

.first-line:hover {
    border-radius: 10px;
    transform: scale(1.1);
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.price {
    color: #ff595e;
    font-size: 3rem;
}

.prezzo {
    font-size: 2em;
}

.background {
    background-color: #ededed;
    width: 100%;
}
 .contenitore {
    font-size: 0.9em;
 }
