

.container {
    // border: 1px solid red;
    padding: 0;

}

.btn-lightgreen{
    background-color: #61D5B9;
}

.btn-lightgreen:hover{
    background-color: rgb(149, 216, 216);
}


.bg_color_af {
    background-color: #ffffff;
    border-bottom: 1px solid rgb(80, 79, 79);
}

.card_af {
    border: 1px solid lightgray;
    // width: calc(100% / 2);
}

.ar_contenitore_immagini {
    border: 2px solid green;
    width: 90%;
    margin: 0 auto;
}

.bg-orange{
    background-color: #F2BC17;
}

