ul li {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
}

.green {
    color: green;
    font-size: 1.1em;
    font-weight: 700;
}

.brown {
    // color: #FF385C;
    color: rgb(102, 17, 17);
    font-weight: 600;
}
