.nc-accountInfo {
    column-gap: 1rem;

    .nc-card {
        height: 40vh;
        width: 30%;
        border: 1px solid gray;
        border-radius: 10px;
        row-gap: 1rem;

        img {
            width: 50%;
            height: 50%;
            border-radius: 50%;
        }

        .personalInfo {
            line-height: .5rem;
            font-size: 1rem;
        }
    }

    .nc-userAction {
        border: 1px dashed red;
        flex-grow: 1;
    }
}
