.nc-accountInfo {
    column-gap: 1rem;
}

.nc-card {
    height: 40vh;
    width: 30%;
    border: 1px solid gray;
    border-radius: 10px;
}

.nc-userAction {
    border: 1px dashed red;
    flex-grow: 1;
}
