.containerMessageIndex {
    margin: 10px 150px;
    height: calc(100vh - 200px);
    position: relative;
    top: 20px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .areaMessages {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: calc((100vw - 300px) * 3);
        height: 65vh;
        position: relative;

        .cardsMessages {
            width: calc(100vh + 50vh);
            height: 100%;
            padding: 50px;
            background-color: #f1f1f1;
            box-shadow: 8px 8px 20px rgb(149, 149, 149);
            position: relative;
            scroll-snap-align: center;

            .areaMessageText{
                height: calc(30vh);
                padding: 20px;
                overflow-y: auto;
                box-shadow: inset 2px 2px 10px rgb(149, 149, 149);
                background-color: #f6f6f6;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
